`{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "endOfLine": "auto",
        "trailingComma": "none",
        "semi": false,
        "singleQuote": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
`