{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "endOfLine": "auto",
        "trailingComma": "none",
        "semi": false,
        "overrides": [
          {
            "files": "*.js",
            "options": {
              "singleQuote": true
            }
          }
        ]
      }
    }
  ]
}
